<div class="control-container">
    <header>
        <div class="refresh-container">
            <button id="refresh-button" class="icon-button" data-tooltip="Refresh Server Status">
                <img src="/static/ui/refresh.svg" alt="Refresh Icon">
            </button>
        </div>
    </header>
    <main>
        <div class="button-container">
            <button id="upload-button" class="action-button" data-tooltip="Upload .miz" type="file" accept=".miz">
                <img src="/static/ui/upload.svg" alt="Upload Icon">
            </button>
            <input type="file" id="file-input" style="display: none;">
            <button id="power-button" class="action-button off" data-tooltip="Start Server">
                <img src="/static/ui/power.svg" alt="Power Icon">
            </button>
            <button id="download-button" class="action-button" data-tooltip="state.json">
                <img src="/static/ui/download.svg" alt="Download Icon">
            </button>
        </div>
    </main>
    <footer>
        <a href="https://github.com/omltcat/dcs-retribution-remote" target="_blank" rel="noopener noreferrer">
            DCS Retribution/Liberation<br>
            Dedicated Server Remote Control
        </a>
    </footer>
</div>