<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCS Server Remote Control</title>
    <link rel="icon" href="/static/icons/icon.png" sizes="32x32" type="image/png">
    <script src="/static/script.js" defer></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="app-container">
        <!-- Content will be dynamically injected here -->
    </div>
</body>
</html>